@lost gutter 20px;

.container {
  lost-center: 800px;
  background: red;
}

.space-me-up-scotty {
  margin-bottom: 20px;
}

.navigation {
  lost-column: 3/12 0;
}

.content {
  lost-column: 7/12 0;
}

.subcontent {
  lost-column: 2/12;
}

.fucking-clearfix {
  lost-utility: clearfix;
  background: green;
}

.fucking-clearfix div {
  background: yellow;
}

.fucking-clearfix:nth-child(even) {
  background: blue;
}

.fucking-clearfix:nth-child(even) div {
  background: red;
}

.cycle-container div {
  lost-column: 1/4 2;
}

.offset-container div {
  lost-column: 1/4;
}

.offset-container div:first-child {
  lost-offset: -1/4;
}

.some-aligning {
  lost-align: center;
  width: 400px;
  height: 300px;
  background: red;
}

.some-aligning div {
  width: 20px;
  height: 20px;
  background: white;
}
